*, *::before, *::after {
    box-sizing: border-box;
  }
  
  * {
    margin: 0;
  }
  
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  input, button, textarea, select {
    font: inherit;
  }
  
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  p {
    text-wrap: pretty;
    padding: 0px;
    margin: 0px;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  #root, #__next {
    isolation: isolate;
  }

  @font-face {
    font-family: 'EinaRegular';
    src: url('fonts/Eina-Font/Eina/Eina02-Regular.ttf');
  }

  @font-face {
    font-family: 'EinaThin';
    src: url('fonts/Eina-Font/Eina/Eina02-Light.ttf');
  }

  @font-face {
    font-family: 'Eina02-SemiBold';
    src: url('fonts/Eina-Font/Eina/Eina01-SemiBold.ttf');
  }

  :root {
    --square-dimension: 450px;
    font-family: 'EinaRegular';
  }

  html {
    height: 100vh;
  }

  body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container {
    border: 1px solid black;
    min-height: 250px;
    min-width: var(--square-dimension);
    display: grid;
    grid-template-rows: 1fr 95px;
    padding: 8px;
    gap: 8px;
  }

  .header-body {
    border: 1px solid blue;
    display: grid;
    grid-template-columns: 1fr 1.6fr 1fr;
    grid-auto-flow: column;
    gap: 4px;
    /* padding: 4px; */
  }

  .header-body > * {
    border: 1px solid red;
  }

  .icon-tile {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .icon-tile img{
    /* border: 1px solid salmon; */
    max-height: 110px;
    max-width: 110px;
  }

  .description-tile {
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-family: 'Eina02-SemiBold';
      padding-left: 10px;
      /* align-items: center; */
  }

  .description-tile > p {
    line-height: 1.2;
    /* border: 1px solid green; */
  }

  .description-tile .location {
    font-family: 'Eina02-SemiBold';
    font-size: 25px;
  }

  .description-tile .status {
    font-size: 18px;
    color: grey;
  }

  .description-tile .time {
    font-size: 20px;
  }

  .temperature-tile {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .temperature-tile .temperature {
    font-family: 'EinaThin';
    /* font-family: 'Roboto'; */
    font-size: 45px;
  }

  .temperature:after {
    content: "\00b0";
    /* font-size: 40px;; */
  }

  .tile-body {
    /* border: 1px solid blue; */
    display: grid;
    /* grid-auto-columns: 50px; */
    grid-auto-flow: column;
    gap: 5px;
    /* grid-template-columns: repeat(6,60px); */
    /* grid-auto-columns: 50px; */
    grid-auto-columns: repeat(auto-fit, minmax(50px, 100px));
  }

  .tile-body > * {
    border: 1px solid green;
  }

  .tile-body .weather-tile {
    display: flex;
    flex-direction: column;
    padding: 1px;
    justify-content: center;
  }

  .weather-tile > * {
    /* border: 1px solid red; */
  }

  .weather-tile .tile {
    font-family: 'Eina02-SemiBold';
    font-size: 14px;
    display: flex;
    justify-content: center;
    max-height: inherit;
  }

  .tile.icon {
    /* max-height: 50px; */
    /* max-width: 50px; */
    display: flex;
    /* justify-self: center; */
  }

  .tile.icon img {
    /* justify-self: center; */
    max-height: 50px;
    max-width: 50px;
  }

  .weather-tile .tile.temp:after {
    content: "\00b0";
  }